// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  * {
    padding: 0;
    margin: 0;
    user-select: none;
  }

  #img-container {
  }

  #taggable{

    max-width: 1015px;
    max-height: 700px;
  }
  #potentialTag{
    border: solid red 4px;
    width: 100px;
    height: 100px;
    position: absolute;
  }

  #tagInProgress{
    border: solid green 4px;
    width: 100px;
    height: 100px;
    position: absolute;
  }

  #finalizedTag{
    border: solid blue 4px;
    width: 100px;
    height: 100px;
    position: absolute;
  }

  #finalizedTag div{
    padding: 0;
    margin-top: 105px;
    width: 100%;
    background-color: #ABCDEF;
  }

  .options{
    padding: 0;
    margin-top: 105px;
    width: 100%;
    background-color: white;
    list-style: none;
  }

  li:hover{
    background-color: gray;
  }
