// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  * {
    padding: 0;
    margin: 0;
    user-select: none;
  }

  #img-container {
  }

  #taggable{

    max-width: 1015px;
    max-height: 700px;
  }
  #potentialTag{
    border: solid red 4px;
    width: 50px;
    height: 50px;
    position: absolute;
  }

  #tagInProgress{
    border: solid green 4px;
    width: 50px;
    height: 50px;
    position: absolute;
  }

  #finalizedTag{
    z-index: 20;
    border: solid blue 4px;
    width: 50px;
    height: 50px;
    position: absolute;
  }

  .delete-btn {
    position: absolute;
    width: 10% !important;
    margin-top: 0px;
    top: -65px;
    right: 10px;
    background-color: red !important;
  }

  #finalizedTag div{
    padding: 0;
    margin-top: 55px;
    width: 100%;
    background-color: #ABCDEF;
  }


  .options{
    padding: 0;
    margin-top: 55px;
    width: 100%;
    background-color: white;
    list-style: none;
  }

  li:hover{
    background-color: gray;
  }
